body {
  display: block;
  background-color: #646464;
  margin-bottom: 60px; /* Margin bottom by footer height */
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.logo {
  height: 300px;
  width: auto;
  padding: 300px auto 0px;
}
.center {
  text-align: center;
}
.input-group {
  padding: 0 20%;
}
.navbar-dark {
  background-color: #262626;
}
.btn-dark {
  max-width: 100px;
  background-color: #646464;
  border-color: #262626;
}
.btn-dark:hover {
  background-color: #47c4ff;
  border-color: #262626;
}
.search {
  border-color: #262626;
}
.search:hover {
  background-color: #262626;
  border-color: #262626;
}
input {
  background-color: #efefef !important;
}
.card {
  background-color: #ededed;
  height: 100%;
}
.card-header {
  min-height: 180px;
}
.dropdown-menu {
  background-color: #efefef;
  max-width: 200px;
}
.store {
  max-width: 100px;
  max-height: 100px;
}
.farcry {
  max-width: 200px;
  max-height: 200px;
}
.fofofodase {
  background-color: #ededed;
}